# Frontend
streamlit

# LLM
langchain-google-genai
google-generativeai
langchain-community
langchain

# Document Processing
pypdf
tiktoken
python-dotenv
python-docx
docx2txt
unstructured[doc]

# Vector database
chromadb
pysqlite3-binary

# System utilities
pillow